:root {
  --tooltip-text-color: white;
  --tooltip-background-color: black;
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 6px;
}

/* ***** Popover ***** */
.mikto-popover-wrapper {
  display: inline-block;
  position: relative;
}

.mikto-popover-tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
}

.mikto-popover-tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

.mikto-popover-tip.top {
  top: calc(var(--tooltip-margin) * -1);
}

.mikto-popover-tip.top::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}

.mikto-popover-tip.right {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.Tooltip-Tip.right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.mikto-popover-tip.bottom {
  bottom: calc(var(--tooltip-margin) * -1);
}
/* CSS border triangles */
.mikto-popover-tip.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.mikto-popover-tip.left {
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.mikto-popover-tip.left::before {
  left: auto;
  right: calc(var(--tooltip-arrow-size) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-background-color);
}

/* ***** Collapsible ***** */
.wrap-collapsible {
  width: 90%;
  margin: 0 auto;
}

.wrap-collapsible input[type="checkbox"] {
  display: none;
}

.lbl-toggle-collapsible {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;
  color: #e37a24;
  background: #171620;
  border-radius: 7px;
  transition: all 0.25s ease-out;

  cursor: pointer;
  margin-bottom: 0;
}

.lbl-toggle-collapsible:hover {
  color: #7c5a0b;
}

.lbl-toggle-collapsible::before {
  content: "";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2 ease-out;
}

.collapsible-content .inner-content-collapsible {
  background: rgba(67, 71, 97, 0.2);
  border-bottom: 1px solid rgba(45, 48, 237, 0.8);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.5s ease-in-out;
}

.toggle-collapsible:checked + .lbl-toggle-collapsible + .collapsible-content {
  max-height: 100vh;
}

.toggle-collapsible:checked + .lbl-toggle-collapsible::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle-collapsible:checked + lbl-toggle-collapsible {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* **** Form Controls */
.form-control {
  border-color: #2b3553;
  border-radius: 0.428rem;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  width: 90%;
  height: calc(2.25rem + 2px);
  padding: 0.5rem 0.7rem;
  line-height: 1.42857;
  /* color: hsla(0, 0%, 100%, 0.8); */
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  box-shadow: 0 0 5px rgb(205, 50, 205);
  border: 1px solid rgb(205, 50, 205);
  outline-color: rgb(205, 50, 205);
}

option {
  font-weight: 400;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0 2px 1px;
}
