$colors-map: (
  'main-color': $primary-color,
  'secondary-color': $secondary-color,
  'success-color': $success-color,
  'warning-color': $warning-color,
  'danger-color': $danger-color,
  'info-color': $info-color,
  'light-color': $light-color,
  'dark-color': $dark-color,
);

@each $name, $hex-value in $colors-map {
  .#{$name} {
    color: $hex-value;
  }

  .#{$name}-bg {
    background-color: $hex-value;
  }

  .alert-#{$name}-bg {
    background-color: $hex-value;
  }
}
