$colors-map: (
  'main-color': $primary-color,
  'secondary-color': $secondary-color,
  'success-color': $success-color,
  'warning-color': $warning-color,
  'danger-color': $danger-color,
  'info-color': $info-color,
  'light-color': $light-color,
  'dark-color': $dark-color,
  'brand-1': $brand-1,
  'brand-2': $brand-2,
  'brand-success': $brand-success,
  'brand-warning': $brand-warning,
  'brand-danger': $brand-danger,
  'brand-info': $brand-info,
  'brand-light': $brand-light,
  'brand-black': $brand-black,
);

@each $name, $hex-value in $colors-map {
  .#{$name} {
    color: $hex-value;
  }

  .#{$name}-bg {
    background-color: $hex-value;
  }

  .alert-#{$name}-bg {
    background-color: $hex-value;
  }
}
