@mixin row($grid-gutter: $grid-gutter) {
  margin-left: $grid-gutter;
  margin-right: $grid-gutter;
  @include clearFix;
  display: flex;
  flex-wrap: wrap;
}

.row {
  @include row;
}

.row-sm {
  @include row($grid-gutter: $grid-gutter-lg);
}

.row-lg {
  @include row($grid-gutter: $grid-gutter-sm);
}

@mixin col($grid-gutter: $grid-gutter) {
  @if $grid-gutter {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }
}

.col {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-sm {
  @include col($grid-gutter: $grid-gutter-sm);
}

.col-lg {
  @include col($grid-gutter: $grid-gutter-lg);
}

@for $i from 1 through $grid-column-count {
  .col-#{$i} {
    width: percentage($i / $grid-column-count);
  }
}

@media (min-width: $media-xs) {
  @for $i from 1 through $grid-column-count {
    .col-xs-#{$i} {
      width: percentage($i / $grid-column-count);
    }
  }
}

@media (min-width: $media-sm) {
  @for $i from 1 through $grid-column-count {
    .col-sm-#{$i} {
      width: percentage($i / $grid-column-count);
    }
  }
}

@media (min-width: $media-mid) {
  @for $i from 1 through $grid-column-count {
    .col-mid-#{$i} {
      width: percentage($i / $grid-column-count);
    }
  }
}

@media (min-width: $media-lg) {
  @for $i from 1 through $grid-column-count {
    .col-lg-#{$i} {
      width: percentage($i / $grid-column-count);
    }
  }
}

@media (min-width: $media-xl) {
  @for $i from 1 through $grid-column-count {
    .col-xl-#{$i} {
      width: percentage($i / $grid-column-count);
    }
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}
