@mixin container($max-width: $media-lg, $grid-gutter: $grid-gutter) {
  @if $max-width {
    max-width: $max-width;
  }

  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-2;
  padding-right: $spacing-2;
}

.container-lg {
  @include container;
}

.container-mid {
  @include container($media-mid);
}

.container-sm {
  @include container($media-sm);
}

.container-full {
  @include container($max-width: false);
}

@mixin clearFix {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.clearfix {
  @include clearFix;
}
